<!DOCTYPE html>
<html ng-app="EscolaWebApp">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href=https://www.ifpb.edu.br/materias/prpipg-publica-edital-de-cadastro-de-docentes/logo-nova-ifpb.jpg/@@images/image.jpegg type="image/x-icon" />

  <title> Cadastro Aluno</title>
  <link href="CSS/index.css" rel="stylesheet" type="text/css" />
  <link href="CSS/Menu.css" rel="stylesheet" type="text/css">

  <!--AngularJs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js" type="text/javascript"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- EscolaWebApp - Aplicação Angular -->
  <script src="js/app.js" type="text/javascript"></script>

</head>

<body>
  <div class="meu-container">
    <header>
      <h2 class="logo">
        Cadastro Aluno
      </h2>
      <nav>
        <ul class="navigation">
          <li><a href="Aluno.html">Aluno</a></li>
          <li><a href="Curso.html">Curso</a></li>
          <li><a href="Disciplina.html">Disciplina</a></li>
          <li><a href="Escola.html">Escola</a></li>
          <li><a href="Turma.html">Turma</a></li>
          <li><a href="Professor.html">Professor</a></li>
          <li><a href="Campus.html">Campus</a></li>
          <li><a href="Turno.html">Turno</a></li>
          <li><a href="Endereco.html">Endereço</a></li>
        </ul>
      </nav>
    </header>
    <main ng-controller="AlunoController" class="forms">
        <div class="container">
          <form name="alunoForm">
          <!-- Nome-->
          <div class="form-group">
            <label for= 'Nome'> Nome:</label>
            <input type= 'text' ng-model="aluno.nome" name="nome" class="form-control" ng-required="true" placeholder="Nome" ng-minlength="3" ng-maxlength="25">
            <div>
              <div ng-show="alunoForm.nome.$error.required && alunoForm.nome.$dirty" class="alert alert-danger">
                Por favor, preencha o campo Nome!
              </div>
              <div ng-show="alunoForm.nome.$error.minlength" class="alert alert-info">
                Atenção, o campo Nome deve ter o tamanho mínimo de 3 caracteres!
              </div>
              <div ng-show="alunoForm.nome.$error.maxlength" class="alert alert-info">
                Atenção, o campo Nome deve ter o tamanho máximo de 25 caracteres!
              </div>
            </div>
          </div>
          <!-- Matricula-->
          <div class="form-group">
            <label for= 'Matricula'> Matrícula:</label>
            <input type= 'text' ng-model= 'matricula' name="matricula" class="form-control" ng-required="true" placeholder="Matricula" ng-minlength="12" ng-maxlength="12">
            <div>
              <div ng-show="alunoForm.matricula.$error.required && alunoForm.matricula.$dirty" class="alert alert-danger">
                Por favor, preencha o campo Matricula!
              </div>
              <div ng-show="alunoForm.matricula.$error.minlength" class="alert alert-info">
                Atenção, o campo Matrícula deve ter o tamanho mínimo de 12 caracteres!
              </div>
              <div ng-show="alunoForm.matricula.$error.maxlength" class="alert alert-info">
                Atenção, o campo Matrícula deve ter o tamanho máximo de 12 caracteres!
              </div>
            </div>
          </div>
          <!-- CPF-->
          <div class="form-group">
            <label for= 'CPF'> CPF: </label>
            <input type= 'text' ng-model= 'cpf' name="cpf" class="form-control" ng-required="true" placeholder="CPF" ng-minlength="11" ng-pattern="/^\d{3}.\d{3}.\d{3}-\d{2}$/">
            <div>
              <div ng-show="alunoForm.cpf.$error.required && alunoForm.cpf.$dirty" class="alert alert-danger">
                Por favor, preencha o campo CPF!
              </div>
              <div ng-show="alunoForm.cpf.$error.minlength" class="alert alert-info">
                Atenção, o campo CPF deve ter o tamanho mínimo de 11 caracteres!
              </div>
              <div ng-show="alunoForm.cpf.$error.pattern && alunoForm.cpf.$dirty" class="alert alert-info">
                Atenção, o formato do campo CPF deve ser "xxx.xxx.xxx-xx"!
              </div>
            </div>
          </div>
          <!-- Nascimento-->
          <div class="form-group">
            <label for= 'Nascimento'> Nascimento: </label>
            <input type= 'text' ng-model= 'nascimento' name="nascimento" class="form-control" ng-required="true" placeholder="Nascimento" ng-pattern="/^\d{4}-\d{2}-\d{2}$/">
            <div>
              <div ng-show="alunoForm.nascimento.$error.required && alunoForm.nascimento.$dirty" class="alert alert-danger">
                Por favor, preencha o campo Nascimento!
              </div>
              <div ng-show="alunoForm.nascimento.$error.pattern && alunoForm.nascimento.$dirty" class="alert alert-info">
                Atenção, o formato do campo nascimento deve ser "ano-mes-dia"!
              </div>
            </div>
          </div>
          <!-- Endereco-->
          <div class="form-group">
            <label for= 'id_endereco'> Número de identificação do Endereço </label>
            <input type= 'text' ng-model= 'id_endereco' name="id_endereco" class="form-control" ng-required="true" placeholder="Endereço">
            <div>
              <div ng-show="alunoForm.fk_id_endereco.$error.required && alunoForm.fk_id_endereco.$dirty" class="alert alert-danger">
                Por favor, preencha o campo Endereço!
              </div>
            </div>
          </div>
          <!-- Curso-->
          <div class="form-group">
            <label for= 'id_curso'> Número de identificação do Curso </label>
            <input type= 'text' ng-model= 'id_curso' name="id_curso" name="id_curso" class="form-control" ng-required="true" placeholder="Curso">
            <div>
              <div ng-show="alunoForm.fk_id_curso.$error.required && alunoForm.fk_id_curso.$dirty" class="alert alert-danger">
                Por favor, preencha o campo Curso!
              </div>
            </div>
          </div>
          <!-- Botões -->
          <button ng-click="cadastrar()" class="btn btn-dark btn-lg btn-block" ng-disabled="alunoForm.$invalid">Cadastrar</button>
        </form>
        </div>
      </main>
      <footer>
        projeto web
      </footer>
      </div>


  </body>
</html>
